
  .nav-link  {
    font-size: 20px;
  }

  body {

  background-color: rgb(231, 233, 233) !important;
    /* font-weight: bold !important; */

  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;

   
    font-style: normal;
}